USE [master]
GO
/****** Object:  Database [MemberLite]    Script Date: 4/2/2018 1:44:18 AM ******/
CREATE DATABASE [MemberLite] ON  PRIMARY 
( NAME = N'MemberLite', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MemberLite.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MemberLite_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MemberLite_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MemberLite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MemberLite]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 4/2/2018 1:44:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[DateStamp] [datetime] NOT NULL,
	[IP] [varchar](15) NULL,
	[UserAgent] [varchar](100) NULL,
	[DeviceType] [varchar](20) NULL,
 CONSTRAINT [PK_LoginHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/2/2018 1:44:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](50) NOT NULL,
	[SignInType] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[OtherNames] [varchar](50) NOT NULL,
	[Gender] [text] NULL,
	[DOB] [date] NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [bigint] NULL,
	[Password] [varchar](256) NOT NULL,
	[Status] [int] NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[DateStamp] [datetime] NOT NULL,
	[LockoutReleaseDate] [datetime] NULL,
	[VerificationCode] [varchar](20) NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Type]  DEFAULT ((1)) FOR [SignInType]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_EmailConfirmed]  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoginHistory_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [FK_LoginHistory_Users]
GO
USE [master]
GO
