@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>Enter your old password then create a new one.</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "alert alert-warning" })
    <div class="form-group">
        <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Old password" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="newpassword1" name="newpassword1" placeholder="New password" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="newpassword2" name="newpassword2" placeholder="Re-type password to confirm" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Change</button>
    </div>
}