@{
    ViewBag.Title = "Reset Password";
}

<div class="row">
    <div class="col-md-8 col-xs-12">
        <h2>Reset Password</h2>
        <p>Provide your account email address or phone number and you will be sent a new password..</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "alert alert-warning" })
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email address or phone" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        }
    </div>
</div>
