@{
    ViewBag.Title = "Sign Up";
}

<div class="row">
    <div class="col-md-8 col-xs-12">
        <h2>SignUp</h2>
        <p>Complete all fields..</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "alert alert-warning" })
            <div class="form-group">
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="othernames" name="othernames" placeholder="Other names" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone number" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create my account</button>
            </div>
        }
    </div>
</div>
